<h1> Clients Box Two: </h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://nyc3.digitaloceanspaces.com/institutoliberal/2018/09/25/blog/politica/Volta-do-PT.png');">
  <div class="card-category">PT</div>
  <div class="card-description">
    <h2>Partido do Lula</h2>
    <p>O que mais <strike>roubou</strike> vendeu bitcoins</p>
  </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://pbs.twimg.com/profile_images/1032341734586507268/Ns2OVPhk_400x400.jpg');">
  <div class="card-category">PSDB</div>
  <div class="card-description">
    <h2>Partido do FHC</h2>
    <p>O segundo que mais <strike>roubou</strike> vendeu bitcoins</p>
    <p><strike>(#1 em trocar pó em bitcoin)</strike></p>
  </div>
</div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://designconceitual.com.br/wp-content/uploads/2017/12/MDB.png');">
  <div class="card-category">MDB</div>
  <div class="card-description">
    <h2>Partido do Vampiro</h2>
    <p>Se continuasse mais tempo no poder, assumiria o primeiro lugar do PT</p>
  </div>
</div>
    </div>
      <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://psol50sp.org.br/files/2018/07/PSOL-LOGO.jpg');">
  <div class="card-category">PSOL</div>
  <div class="card-description">
    <h2>Filho mais novo do PT</h2>
    <p>Assim como o pai <strike>rouba</strike> vende que é uma beleza</p>
  </div>
  </div>
    </div>
        <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/PCdoB_flag.svg/1200px-PCdoB_flag.svg.png');">
  <div class="card-category">PC do B</div>
  <div class="card-description">
    <h2>Filho mais velho do PT</h2>
    <p>Aprendeu com o pai a <strike>roubar</strike> vender</p>
  </div>
</div>
    </div>
        <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.portaldocareiro.com.br/wp-content/uploads/2017/04/PP.png');">
  <div class="card-category">PP</div>
  <div class="card-description">
    <h2>Partido Progressista</h2>
    <p>Campeão de <strike>corrupção</strike> vendas desde o começo da operação Lava Jato</p>
  </div>
</div>
    </div>
  </div>
</div>
