<h1>My Wallets <i class="fas fa-wallet"></i></h1>
<% @wallets.each do |wallet| %>
  <%= link_to [wallet.user, wallet] do %>
    <h4><%= wallet.amount %> of <%= wallet.currency.name %></h4>
  <% end %>
<% end %>
