<div class="container">
  <h1 class="text-center">OFFERS</h1>

  <h2 class="text-center"> TO BUY </h2>
  <div class="row">
    <% @offers.each do |offer| %>
      <%= link_to offer do %>
        <div class="col-xs-3">
          <div class="offer">
            <%= offer.amount %> <%= offer.wallet.currency.name.upcase %>
            <div class="offer-price">
              $<%= offer.price %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
