
<div class="container">
  <h1 class="text-center">My Offers</h1>
  <div class="row">
    <% @offers.each do |offer| %>
      <%= link_to offer do %>
        <div class="col-xs-3">
          <div class="offer">
            <%= number_with_precision(offer.amount, presicion: 5, significant: true, strip_insignificant_zeros: true, delimiter: ",") %> <%= offer.wallet.currency.name.upcase %>
            <div class="offer-price">
              <%= number_to_currency(offer.price) %>
            </div>
            <div class="offer-price">
              <% if offer.closed %>
                Closed
              <% else %>
                Open
              <% end %>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
