<h1>Vendedor #: <%= @trade.offer.wallet.user_id %></h1>
<br>
<h1>Comprador #: <%= @trade.user_id %></h1>
<br>
<h1>Price: <%= @trade.offer.price %></h1>
<br>
<h1>Amount: <%= @trade.offer.amount %></h1>
